* {
    margin: 0;
}
html, body {
    height: 100%;
}
/* ---------------- Common styles ------------------ */
body {
    font: 1em/1.5 Arial, Sans-serif;
    margin: 0;
    background: #e9e9e9;
    display: flex;
    flex-direction: column;
}
header, footer, main, div {
    box-sizing: border-box;
}
header, footer {
    background: #465362;
    padding: 1.5em;
    color: #ffffff;
}
footer {
    text-align: center;
}
header a, footer a {
    color: #ffffff;
    opacity: .5;
    transition: .3s;
}
header a:hover, footer a:hover, header li.active a {
    opacity: 1;
    transition: .3s;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header nav ul li {
    margin: 0 1em 0 0;
    line-height: 1.2;
    padding: .5em;
}
header h1 {
    text-align: center;
}
main {
    flex-grow: 1;
}
img, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 1.5em auto;
}
.item {
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    padding: 1.5em;
    margin: .5em .5em;
}
.wrapper .item > img {
    margin: 0 auto;
}
/* ---------------- Masonry styles ------------------ */
/* Masonry container column-count */
.wrapper.col .masonry {
    column-count: 4;
    column-gap: 1em;
    padding: 0 .5em;
}
/* Masonry bricks column-count */
.wrapper.col .item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
/* ---------------- Bulbs styles ------------------ */
#lights {
    position: absolute;
    width: 100%;
}
#lights .lamp-holder {
    overflow: hidden;
    height: 60px;
    position: relative;
}
#lights .lamp {
    position: absolute;
    background-image: url('../images/bulbs.png');
    background-repeat: no-repeat;
    background-position: -40px 0;
    margin-left: 20px;
    width: 40px;
    height: 60px;
    z-index: 9999;
}
#lights .circle-holder {
    top:50px;
    position: relative;
}
#lights .circle {
    position: absolute;
    opacity: 0;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    z-index: 99999;
    background: #FFFFFF;
    top: -20px;
    left: 0;
}
#lights .circle.animation0 {
    opacity:0;
    top: -45px;
    left: 0;
    animation: animation0 ease-in .4s;
}
#lights .circle.animation1 {
    opacity:0;
    top: 0;
    left: -40px;
    animation: animation1 linear .5s;
}
#lights .circle.animation2 {
    opacity:0;
    top: -35px;
    left: 32px;
    animation: animation2 ease-in-out .6s;
}
#lights .circle.animation3 {
    opacity:0;
    top: -35px;
    left: -28px;
    animation: animation3 ease .4s;
}
#lights .circle.animation4 {
    opacity:0;
    top: 0;
    left: 32px;
    animation: animation4 ease-out .5s;
}
@keyframes animation0 {
    0% {
        top: -20px; left: 0; opacity: 0;
    }
    2% {
        opacity: .8;
    }
    50% {
        width: 10px; height: 10px;
    }
    90% {
        opacity: .8;
    }
    100% {
        top: -45px; left: 0; opacity: 0;
    }
}
@keyframes animation1 {
    0% {
        top: -20px; left: 0; opacity: 0;
    }
    2% {
        opacity: 1; width: 7px; height: 7px;
    }
    90% {
        opacity: 1; width: 3px; height: 3px;
    }
    100% {
        top: 0; left: -40px; opacity: 0;
    }
}
@keyframes animation2 {
    0% {
        top: -20px; left: 0; opacity: 0;
    }
    2% {
        opacity: .7;
    }
    60% {
        width: 9px; height: 9px;
    }
    90% {
        opacity: .9;
    }
    100% {
        top: -35px; left: 32px; opacity: 0;
    }
}
@keyframes animation3 {
    0% {
        top: -20px; left: 0; opacity: 0;
    }
    2% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        top: -35px; left: -28px; opacity: 0;
    }
}
@keyframes animation4 {
    0% {
        top: -20px; left: 0; opacity: 0;
    }
    2% {
        opacity: .5;
    }
    30% {
        width: 5px; height: 5px;
    }
    90% {
        opacity: .5;
    }
    100% {
        top: 0; left: 32px; opacity: 0;
    }
}
#lights .lamp.blue {
    background-position: -40px 0;
}
#lights .lamp.green {
    background-position: -40px -60px;
}
#lights .lamp.red {
    background-position: -40px -120px;
}
#lights .lamp.white {
    background-position: -40px -180px;
}
#lights .lamp.lilac {
    background-position: -40px -240px;
}
#lights .lamp.yellow {
    background-position: -40px -300px;
}
#lights .lamp.blue.lighton {
    background-position: 0 0;
}
#lights .lamp.green.lighton {
    background-position: 0 -60px;
}
#lights .lamp.red.lighton {
    background-position: 0 -120px;
}
#lights .lamp.white.lighton {
    background-position: 0 -180px;
}
#lights .lamp.lilac.lighton {
    background-position: 0 -240px;
}
#lights .lamp.yellow.lighton {
    background-position: 0 -300px;
}
#lights .lamp.blue.broken {
    background-position: -80px 0;
}
#lights .lamp.green.broken {
    background-position: -80px -60px;
}
#lights .lamp.red.broken {
    background-position: -80px -120px;
}
#lights .lamp.white.broken {
    background-position: -80px -180px;
}
#lights .lamp.lilac.broken {
    background-position: -80px -240px;
}
#lights .lamp.yellow.broken {
    background-position: -80px -300px;
}
#lights .circle.blue {
    background: #2dbbf8;
}
#lights .circle.green {
    background: #3cfa24;
}
#lights .circle.red {
    background: #ff0d0d;
}
#lights .circle.white {
    background: #d1d1d1;
}
#lights .circle.lilac {
    background: #ff12f1;
}
#lights .circle.yellow {
    background: #ffeb1e;
}
#lights .lamp.blue.broken,
#lights .lamp.green.broken,
#lights .lamp.red.broken,
#lights .lamp.white.broken {
    background-position-x: -80px;
}
#lights .swing {
    transform-origin: top center;
    animation-name: swing;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
/* ---------------- Mobile styles ------------------ */
@media (max-width: 900px) {
    .wrapper.col .masonry {
        column-count: 3;
    }
}
@media (max-width: 700px) {
    .wrapper.col .masonry {
        column-count: 2;
    }
}
@media (max-width: 450px) {
    .wrapper.col .masonry {
        column-count: 1;
    }
}